In [1]:
import numpy as np
import pandas as pd

In [2]:
data1 = np.array([4, 5, 20, 22, 22, 24, 24, 26, 27, 29, 29])

In [3]:
data1_df = pd.DataFrame(data1)

In [4]:
data1_df

     0
0    4
1    5
2   20
3   22
4   22
5   24
6   24
7   26
8   27
9   29
10  29

In [5]:
data1_df.describe()

               0
count  11.000000
mean   21.090909
std     8.688550
min     4.000000
25%    21.000000
50%    24.000000
75%    26.500000
max    29.000000

In [6]:
data1.mean()

21.09090909090909

In [7]:
np.median(data1)

24.0

In [8]:
np.percentile(data1,25)

21.0

In [9]:
np.percentile(data1,75)

26.5

In [10]:
26.5-21.0

5.5

In [11]:
data2 = np.array([7, 3, 5, 12, 6, 7, 25, 9, 23, 9, 12, 3, 12, 23])

In [12]:
np.mean(data2)

11.142857142857142

In [13]:
np.median(data2)

9.0

In [14]:
np.percentile(data2,25)

6.25

In [15]:
np.percentile(data2,75)

12.0

In [16]:
12.0 - 6.25

5.75